<ion-content [fullscreen]="true">
  <ion-col size="12" offset="4">
    <ion-toolbar class="select-toolbar">
      <ion-searchbar type="text" debounce="500" [(ngModel)]="searchText" (ionChange)="searchPlaces($event)"></ion-searchbar>
      <ion-list *ngIf="searchText && showResults">
          <ion-item 
          *ngFor="let place of foundPlaces$ | async"
          (click)="locate(place)">
          {{ place.name }}
        </ion-item>
      </ion-list>
    </ion-toolbar>
  </ion-col>

  <div class="content-container">
    <div class="map-container" #mapContainer></div>
  </div>
</ion-content>
