<ion-content [fullscreen]="true">
  <ion-col size="12" offset="4">
    <ion-toolbar class="select-toolbar">
      <ion-select class="select-overlay" 
        [interfaceOptions]="customPopoverOptions"
        interface="popover" 
        [(ngModel)]="selectedPlace"
        (ionChange)="locate($event)"
        [selectedText]="selectedPlace">
        <ion-select-option 
          *ngFor="let place of places$ | async" 
          [value]="place">
          {{ place.name }}
        </ion-select-option>
      </ion-select>
    </ion-toolbar>
  </ion-col>

  <div class="content-container">
    <div class="map-container" #mapContainer></div>
  </div>
</ion-content>
